.headerCard {
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-avatar {
      width: 200px;
      height: 200px;
    }

    ion-card-title {
      margin-top: 8px;
    }
  }
}

.detailsCard {
  ion-card-content {
    padding: 0;
  }

  ion-item {
    --background: transparent;
  }
}
