ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerCard {
  padding: 16px;

  ion-avatar {
    width: 200px;
    height: 200px;
  }

  ion-card-title {
    margin-top: 8px;
  }
}
